<?xml version="1.0" encoding="utf-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="4c33aece-8ef8-4db2-977b-e5ff6704dd61" Name="SWCTRL" Language="1033" Codepage="Windows-1252" Version="1.0.0.0" UpgradeCode="4c33aece-8ef8-4db2-977b-e5ff5704dd60" Manufacturer="auriga.com">
    <Package InstallerVersion="200" Compressed="yes" SummaryCodepage="Windows-1252" Languages="1033" />
    <Media Id="1" Cabinet="SWCTRL.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="swctrl">
          <Component Id="Component.WinAgent.exe_3028307956" Guid="4c33aece-8ef8-4db2-977b-e5ffca9dc222">
            <File Id="WinAgent.exe_3028307956" Source="bin\Debug\netcoreapp3.1\win-x86\publish\WinAgent.exe" />
          </Component>
          <Component Id="Component.config.ini_2217011665" Guid="4c33aece-8ef8-4db2-977b-e5ff88852a76">
            <File Id="config.ini_2217011665" Source="bin\Debug\netcoreapp3.1\win-x86\publish\config.ini" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <UI />

    <!-- <CloseApplication Target="WinAgent.exe" Timeout="5" Sequence="1" CloseMessage="yes" ElevatedCloseMessage="no" ElevatedEndSessionMessage="no" EndSessionMessage="no" PromptToContinue="no" RebootPrompt="no" xmlns="http://schemas.microsoft.com/wix/UtilExtension" />
    <CloseApplication Target="config.ini" Timeout="5" Sequence="1" CloseMessage="yes" ElevatedCloseMessage="no" ElevatedEndSessionMessage="no" EndSessionMessage="no" PromptToContinue="no" RebootPrompt="no" xmlns="http://schemas.microsoft.com/wix/UtilExtension" /> -->

    <Feature Id="Complete" Title="Complete" Absent="allow" Level="1">
      <ComponentRef Id="Component.WinAgent.exe_3028307956" />
      <ComponentRef Id="Component.config.ini_2217011665" />
    </Feature>

    <!-- <InstallExecuteSequence>
      <Custom Action="LaunchInstalledExe" After="InstallFinalize" />
    </InstallExecuteSequence>
    <CustomAction Id="LaunchInstalledExe" FileKey="WinAgent.exe_3028307956" ExeCommand="" Execute="immediate" Impersonate="yes" Return="asyncNoWait" /> -->

  </Product>
</Wix>